* {
  box-sizing: border-box;
}

body {
	font-family: "lato", sans-serif;
	line-height: 1.5;
	font-weight: 400;
	margin: 0;

}


h1, h2, h3 {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;

}

h1{
 color: white;

}

header {
	text-align: center;
	text-transform: uppercase;
	color: red;
	background-color: #b9c3c7;
	background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-position: center;
    background: #b9c3c7 url(../images/header-bg.jpg) center; 
    background-size: cover; 
    padding: 30px;
}

a {
	color: white;
	text-decoration: none;
	letter-spacing: 3px;
}

a: hover {'border-bottom: 1px solid white;
}

article {
	float: left
	;
}

footer {
	clear: both;
	background: gray;
	color: white;
	padding: 30px;
    text-align: center;
    background-size: cover;
    background-position: center ;
}


@media (max-width: 660px) {
	article {
	width 100%;
}

article {float: left;
width: 50%;
padding-right: 20px;
}


ul li {
	display: inline;
	margin: 10px;
}






